
body {
    background-color: black;
    color: #fff;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 10px;
    height: 10vh;
    background-color: black;
    font-size: 20px;
}
.active {
    background-color: #fff;
    color: black;
    /* height: 8vh; */
    border-radius: 5px;
    padding : 0 8px;
    
}
ul {
    display: flex;
    list-style: none;
   
    
}
ul li {
    margin-left: 20px;
    margin-right: 20px;
}
 .text {
    margin-top: 20vh;
    text-align: center;
    max-width: 45vw;
    margin: 20vh auto;

}
.container .text h1 {
    font-size: 4rem;
}
.container .text p {
    font-size: 15px;
    margin-left: 20px;
}
.container img {
    height : 20vw; 
    width: 20vw;
}
.contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10vw;
}
.contents .box  h3{
    text-align: center;
    font-weight:initial;
}
.contan2 {
    display: flex;
    justify-content:space-around;
    background-color: #fff;
    color: black;
    padding-top: 20px;
   
}
.contan2 .left {
  position: relative;
  left: 20%;
  margin-right: 8rem;

}
.contan2 .left img {
  height : 25vw; 
  width: 25vw;
  
}

.contan2 .sec{
    position: absolute;
    content: "";
    right: 30%;
    top: 20%;
}
.contan2 .right h3{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.contan2 .right p{
    font-size: 15px;
    text-align: center;
    max-width: 500px;
    color: #444;
}
input {
    width: 100px;
    height: 20px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
}
